*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: rgb(46, 46, 46);
}

.App{
  position: relative;
  width: 100%;
  margin: 0%;
}

.header{
  position: relative;
  width: 90%;
  margin: 1% 5% 1% 5%;
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
  padding: 1%;
}

.header h1{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  color: rgb(207, 207, 207);
}

.header .sub-title{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.add-form{
  position: fixed;
  top: 27%;
  left: 25%;
  width: 50%;
  z-index: 5;
  background-color: rgb(40, 40, 40);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px black;
}

.add-form h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  color: rgb(207, 207, 207);
}

.add-form .form-data{
  display: grid;
  width: 100%;
  grid-template-columns: 30% 70%;
  margin-top: 3%;
}

.add-form .form-data .label{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 207, 207);
  font-size: 1.2em;
}

.add-form .form-data .input{
  border: solid 1px black;
  width: 80%;
  border-radius: 10px;
  font-size: 1em;
  padding: 1%;
}

.add-form .form-data .checkbox{
  width: 20%;
}

.add-form .save-btn{
  position: relative;
  width: 20%;
  margin: 2% 40%;
  padding: 1%;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(16, 16, 129);
  color: rgb(207, 207, 207);
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
}

.btns-container{
  position: relative;
  width: 90%;
  margin: 1% 5% 1% 5%;
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
  display: flex;
}

.add-btn{
  position: relative;
  width: 20%;
  margin: 2% 30% 2% 5%;
  background-color: rgb(1, 72, 1);
  color: rgb(207, 207, 207);
  border-radius: 10px;
  border: none;
  padding: 1% 2% 1% 2%;
  cursor: pointer;
}

.add-btn:active{
  transform: scale(0.9);
}

.cancel-btn{
  position: relative;
  width: 20%;
  margin: 2% 30% 2% 5%;
  background-color: rgb(92, 2, 2);
  color: rgb(207, 207, 207);
  border-radius: 10px;
  border: none;
  padding: 1% 2% 1% 2%;
  cursor: pointer;
}

.cancel-btn:active{
  transform: scale(0.9);
}

.sort-btn{
  position: relative;
  width: 20%;
  margin: 2% 5% 2% 30%;
  background-color: rgb(93, 134, 160);
  color: rgb(207, 207, 207);
  border-radius: 10px;
  border: none;
  padding: 1% 2% 1% 2%;
  cursor: pointer;
}

.sort-btn:active{
  transform: scale(0.9);
}

.task-list{
  position: relative;
  width: 90%;
  margin: 1% 5% 1% 5%;
  background-color: rgb(23, 23, 23);
  border-radius: 10px;
  padding: 1%;
}

.task-list h2{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(207, 207, 207);
}

.task{
  position: relative;
  width: 90%;
  margin: 2% 5% 2% 5%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  background-color:rgb(46, 46, 46);
  color: rgb(207, 207, 207);
}

.task .check-icon{
  color: rgb(22, 112, 0);
  margin: 18%;
  font-size: 1.6em;
  cursor: pointer;
}

.task .check-icon:active{
  transform: scale(0.9);
}

.task .del-icon{
  color: rgb(152, 6, 6);
  margin: 18%;
  font-size: 1.6em;
  cursor: pointer;
}

.task .del-icon:active{
  transform: scale(0.9);
}

.task .not-icon{
  color: rgb(4, 30, 118);
  margin: 18%;
  font-size: 1.6em;
  cursor: pointer;
}

.task .not-icon:active{
  transform: scale(0.9);
}

.task .task-info{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

.completed{
  text-decoration: line-through;
  color: black;
  background-color: rgb(37, 37, 37);
}

.reminder{
  background-color: gray;
  border: solid rgb(4, 30, 118) 5px;
  text-transform: uppercase;
  color: rgb(58, 58, 58);
}

